<% include _header %>
  <body>
    <h1>SQL TEST</h1>
    <a href="/signup">Signup</a>
    <% guys.forEach(function(guy) { %>
      <ul>
        <li><%= guy.first_name %></li>
        <li><%= guy.last_name %></li>
      </ul>
    <% }) %>
    <script src="script.js"></script>
  </body>

</html>
